@model Bazar.ViewModel.HomePageViewModel

<div class="container mt-5">
    <div class="row">
        <div class="col mt-5 p-0">
            <partial name="_Carousel" model="@Model.Slides" />
        </div>
    </div>
</div>
