@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<table id="tblCarousel" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Origin Price</th>
        <th>Final Price</th>
        <th>Quantity</th>
        <th>Data Added</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="row mb-3 mt-3">
    <div class="col w-100"><a class="btn btn-success w-100" asp-controller="GamesManager" asp-action="GameForm">Добавить игру</a></div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var t = $('#tblCarousel').DataTable({
                ajax: {
                    url: "/api/games",
                    dataSrc:""
                },
                columnDefs: [ {
                    searchable: false,
                    orderable: false,
                    targets: 0
                } ],
                order: [[ 1, 'asc' ]],
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "name",
                        render: function (data, type, game) {
                            return "<a href='/admin/GamesManager/GameForm/" + game.id + "' class=''>"  + data + "</a>";
                        }
                    },
                    {
                        data: "originalPrice"
                    },
                    {
                        data: "finalPrice"
                    },
                    {
                        data: "quantity"
                    },
                    {
                        data: "dateAdded"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn btn-danger js-delete w-100' data-game-id=" +
                                data +
                                "> Delete <i class='fa fa-trash' aria-hidden='true'></i></button>";
                        }
                    }
                    ]
            });

            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            }).draw();



            $('#tblCarousel').on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm("Are you sure?",
                    function(result) {
                        if (result) {
                            $.ajax({

                                url: "/api/games/" + button.attr("data-game-id"),
                                method: "DELETE",
                                success: function() {
                                    button.parents("tr").remove();
                                }
                            });
                        }

                    });


            });

        });

    </script>


}
