.header-block p {
    color: black;
    margin: 0;
}

table.model-state {
    border-color: #600;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-collapse: collapse;
    font-size: .8em;
    font-family: arial;
}

table.model-state td
{
    border-color: #600;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: .25em .75em;
    background-color: #FFC;
}