/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/*font-family: 'Goldman', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
/*font-family: 'Kanit', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/* font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap');
/* font-family: 'Saira', sans-serif; */


@font-face {
    font-family: "Montserrat";
    src: url("../fonts/MontserratRegular.otf");
}
/* font-family: 'Montserrat', sans-serif; */
@font-face {
    font-family: "Russo One";
    src: url("../fonts/RussoOne.ttf");
}

@font-face {
    font-family: "Suissnord Cyrillic";
    src: url("../fonts/Suissnord.otf");
}
/* font-family: 'Suissnord Cyrillic', sans-serif; */

@font-face {
    font-family: "Micra";
    src: url("../fonts/Micra.ttf");
}
/* font-family: "Micra", sans-serif; */
@font-face {
    font-family: "Micra-bold";
    src: url("../fonts/Micra-bold.ttf");
}
/* font-family: "Micra-bold", sans-serif; */

:root {
    --hl: #c32865 /*#F6325C;*/;
    --hl-2: #c32865;
    --hl-blue: #0094E9;
    --hl-dark: #303031;
    --hl-card-dark: #343A40;
    --hl-dark: #2F2F2F;
    --hl-dark-2: #262626;
    --hl-font-color: #F3f3f3;
    --hl-font-color-dark: #989898;
    --hl-orange: #ffb218;
    --hl-purple: #6649b8;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



